

  <body>
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        right: 0;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
      }
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .header {
        position: relative;
        z-index: 500;
      }
     </style>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 10-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"><img src="/img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/shop">Shop</a></li>
                <li>
                  <a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/wallet">Wallet</a></li>
          
                  </ul>
                </li>

                <li><a href="./contact.html">Contacts</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="header__nav__option">
              <%if(locals.user){%>
              <div class="dropdown">
                <a href="#" class="sign-in-link"><%=locals.user.name%></a>
                <div class="dropdown-content">
                  <a href="/profile">Profile</a>
                  <a href="/logout">Logout</a>
                </div>
              </div>
              <%}else{%>
              <a href="/login" class="sign-in-link">Log in</a>
              <a href="/signup" class="sign-in-link">Sign up</a>
              <%}%>
              <a href="#" class="search-switch"
                ><img src="img/icon/search.png" alt=""
              /></a>
              <a href="/wishlist"><img src="img/icon/heart.png" alt="" /></a>
              <a href="/cart"><img src="img/icon/cart.png" alt="" /> </a>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <!-- Header Section End -->
  </body>

